container_commands:
  01migrate:
    command: "source $PYTHONPATH/activate && python3 manage.py migrate"
    leader_only: true
  02collectstatic:
    command: "source $PYTHONPATH/activate && python3 manage.py collectstatic --noinput"
  03_createsu:
    command: "source $PYTHONPATH/activate && python3 manage.py createsu"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: landlive.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: landlive.settings
